.owen-container {
  padding: 3rem;
}

.header-img {
  width: 15%;
}

.header-search {
  padding: 0 50px;
  width: 60%;
}

.header-items {
  width: 25%;
}

.search-bar {
  padding: 8px 15px;
  width: 92%;
  margin-top: 18px;
  font-size: 17px;
}

.search-btn {
  padding: 8px 10px;
  margin-top: 8px;
  background: #4e989a;
  color: white;
  font-size: 17px;
  border: 1px solid #00000038;
  cursor: pointer;
}

.search-btn:hover {
  background: #2a797c;
}

.cart-btn {
  text-decoration: none;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 15px 0 0 0;
  background-color: #e6e6e6;
  font-size: 17px;
  border: 1px solid #00000038;
  border-radius: 50%;
  cursor: pointer;
}

.cart-btn:hover {
  background: #4e989a;
  color: #000;
}

.products-box {
  width: 25%;
}

.sear {
  position: absolute;
  width: 600px;
  height: 49px;
  left: 290px;
  top: 15px;
  background: #e6e6e6;
}

.sear1 {
  position: absolute;
  margin-left: 600px;
  margin-top: 28px;
}

.a {
  width: 35px;
  height: 35px;
  background-color: #e6e6e6;
  margin-left: 690px;
  margin-top: 24px;
  border-radius: 50%;
}
.a1 {
  width: 17px;
  height: 17px;
  margin-left: 8px;
  margin-top: 7px;
}
.b {
  margin-left: 40px;
  margin-top: 20px;
  color: black;
}
.c {
  background-color: #4e989a;
  height: 275px;
  margin-top: 40px;
}
.c1 {
  padding: 40px;
  margin-left: 70px;
  color: white;
}
.c2 {
  padding: 40px;
  margin-left: 70px;
  margin-top: 35px;
  color: white;
}
.c3 {
  margin-left: 800px;
}

.d {
  text-align: center;
  margin-top: 25px;
}
.e {
  margin-top: 35px;
  margin-left: 75px;
  margin-bottom: 50px;
}
.e1 {
  background-color: #c4c4c4;
  color: black;
}
.e2 {
  background-color: #c4c4c4;
  margin-left: 45px;
  color: black;
}
.f {
  width: 100%;
}
.ff {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin-left: 20px;
}
.add-cart-btn {
  position: absolute;
  width: 35px;
  height: 35px;
  background-color: #e6e6e6;
  border-radius: 50%;
  margin-left: 65px;
}

.add-cart-btn:hover {
  background-color: #419a9e;
}

.f1 {
  color: #5e5e5e;
  margin-left: 20px;
  margin-top: 30px;
}
.f2 {
  margin-left: 20px;
  margin-top: 15px;
}
.f3 {
  margin-left: 20px;
  margin-top: 35px;
}
.f4 {
  width: 17px;
  height: 17px;
  margin-left: 10px;
  margin-top: 5px;
}
.f5 {
  width: 17px;
  height: 17px;
  margin-left: 9px;
  margin-top: 5px;
}
.f6 {
  margin-right: 150px;
}
.g {
  margin-bottom: 100px;
}
.g1 {
  margin-top: 100px;
}
.ff1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 20px;
}
.h {
  margin-top: 65px;
  margin-left: 1100px;
}
.h1 {
  margin-right: 3px;
  margin-bottom: 2px;
}
.i {
  width: 720px;
  height: 550px;
  margin-top: 15px;
  margin-left: 30px;
}
.j {
  padding: 100px;
  margin-top: 20px;
}
.j1 {
  background-color: #dfedf1;
  width: 530px;
  height: 180px;
  padding: 30px;
}
.j2 {
  color: #033f88;
}
.j3 {
  margin-top: 25px;
}
.j4 {
  float: right;
  margin-right: 20px;
}

.k {
  background-color: #4e989a;
  margin-left: 220px;
  margin-top: 130px;
  color: white;
  width: 250px;
}
.k1 {
  width: 17px;
  height: 17px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.l {
  margin-top: 50px;
}
.l1 {
  margin-top: 60px;
}
.m {
  width: 110%;
  margin-top: 20px;
}
.mm {
  margin-right: 15px;
}
.m1 {
  margin-top: 50px;
}
.cont_footer {
  background-color: #e6e6e6;
}

.img_footer {
  margin-left: 90px;
}
.footer {
  margin-top: -150px;
  padding: 150px;
  margin-left: 120px;
}
.footer1 {
  margin-left: 15px;
}
.footer_1 {
  margin-left: 35px;
}
.footer2 {
  width: 15px;
  height: 15px;
  float: left;
  margin-top: 10px;
  margin-left: 35px;
  margin-right: 8px;
}

.footer_2 {
  width: 18px;
  height: 18px;
  float: left;
  margin-top: 17px;
  margin-left: 35px;
  margin-right: 8px;
}

.footer3 {
  margin-top: -100px;
}
.footer_3 {
  margin-left: 90px;
  float: left;
  padding: 17px;
  color: #4e989a;
}
.footer4 {
  float: right;
  padding: 15px;
  margin-right: 90px;
}
.footer_4 {
  width: 20px;
  height: 20px;
}
.tabl {
  width: 800px;
  margin-top: 100px;
}
.table-row {
  margin-left: 200px;
}

.table-img-1 {
  width: 150px;
  height: 100px;
}

.table-text-1 {
  margin-top: 20px;
}
.table-text-a1 {
  margin-left: 45px;
  text-decoration: none;
  color: #4e989a;
}
.table-text-a2 {
  margin-left: 72px;
  text-decoration: none;
  color: #4e989a;
}
.table-text-2 {
  margin-top: 5px;
}
.table-img-2 {
  width: 13px;
  height: 13px;
}
.table-img-3 {
  width: 15px;
  height: 3px;
}
.table-img-4 {
  width: 15px;
  height: 15px;
  margin-left: 30px;
}
.table-div-img {
  margin-top: 17px;
  margin-left: 5px;
}
.table-div-b {
  margin-left: 10px;
  margin-right: 12px;
}
.div-te {
  margin-left: 845px;
}
.div-a {
  text-decoration: none;
  color: #4e989a;
  margin-left: 25px;
}
.div-btn {
  background-color: #4e989a;
  margin-left: 690px;
  margin-top: 30px;
  margin-bottom: 100px;
  color: white;
  width: 250px;
  height: 40px;
}

.div-btn2 {
  background-color: #4e989a;
  color: white;
  width: 250px;
  height: 40px;
}

.status-btn {
  background-color: #4e989a;
  color: white;
  padding: 10px;
}

.status-select {
  padding: 10px;
}

.status-select:hover {
  background-color: #4e989a;
  color: white;
}

.action-btns a:hover {
  color: #036beb;
}

.product-container {
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
}

.products-container {
  padding: 50px 150px;
}

.producs-box-img {
  transition: transform 0.2s;
}

.producs-box-img:hover {
  transform: scale(1.1);
}

.product-img-box {
  width: 40%;
  height: 600px;
}

.product-img-box img {
  width: 100%;
  height: 100%;
}

.product-details-box {
  width: 40%;
}

.product-box-details {
  height: 5em;
  overflow: hidden;
}

.product-details-box h1::first-letter {
  text-transform: capitalize;
}

.products-row {
  display: flex;
  padding: 20px;
}

.other-products-box {
  width: 25%;
  padding: 0 20px;
  text-align: center;
}

.other-products-box img {
  padding: 20px;
  background-color: rgb(247, 245, 245);
}

.rate-btn {
  padding-right: 3px;
  padding-top: 3px;
  font-size: 17px;
  cursor: pointer;
  color: rgb(255, 208, 0);
}

.product-edit {
  border: none;
  background-color: white;
  font-size: 20px;
}

.button-container .product-edit:hover {
  color: red;
}

.login-div {
  position: absolute;
  width: 700px;
  left: 420px;
  top: 120px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.div-h1 {
  color: #4e989a;
  text-align: center;
  padding: 30px 0;
}
.background {
  background-color: #e6e6e6;
  margin-bottom: 40px;
}
.login-btn {
  width: 200px;
  height: 35px;
  background-color: #4e989a;
  border: #4e989a;
  color: white;
  border-radius: 0.1cm;
  margin-left: 75px;
  margin-top: 20px;
}

.add-div {
  position: absolute;
  width: 700px;
  left: 420px;
  top: 120px;
  background: #ffffff;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}
.add-h1 {
  color: #4e989a;
  text-align: center;
  padding: 30px 0;
}
.add-background {
  background-color: #e6e6e6;
  margin-bottom: 40px;
  width: 100px;
  text-align: center;
}
.category {
  margin-top: -102px;
  margin-left: 140px;
}
.add-btn {
  width: 100px;
  height: 40px;
  background-color: #4e989a;
  border: #4e989a;
  color: white;
  border-radius: 0.1cm;
  float: right;
}
.add-create {
  margin-left: 15px;
}

.conformbtn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.conformbtn:hover {
  opacity: 1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn,
.deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  padding: 20px;
  text-align: start;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

.buy-btn {
  background-color: #51ff00;
  font-family: "Brush Script MT", cursive;
  font-size: 25px;
  font-weight: 600;
  border: none;
}

.buy-btn:hover {
  background-color: #44d800;
}

.update-quantity-btn {
  width: 30px;
  background-color: white;
  border: 1px solid;
}

.update-quantity-btn:hover {
  background-color: #419a9e;
  color: white;
}

.delete-cart-btn {
  background-color: transparent;
  margin: 25px 0 0 30px;
  padding: 10px;
  font-size: 20px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.delete-cart-btn:hover {
  background-color: red;
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn,
  .deletebtn {
    width: 100%;
  }
}

.admin-table,
.admin-table th,
.admin-table td {
  border: 1px solid black;

  border-collapse: collapse;
}

.orders-table,
.orders-table th,
.orders-table td {
  border: unset;
  border-collapse: unset;
}

.orders-table th {
  background-color: rgb(245, 245, 245) !important;
  color: #000000 !important;
}

.admin-table th,
.admin-table td {
  padding: 10px;
}

.admin-table th {
  background-color: #4e989a;
  color: #fff;
}

.admin-table colgroup {
  width: 250px;
}

.custom-select {
  position: relative;
  font-family: Arial;
}

.custom-select select {
  display: none; /*hide original SELECT element:*/
}

.select-selected {
  background-color: #fff;
}

/*style the arrow inside the select element:*/
.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

/*point the arrow upwards when the select box is open (active):*/
.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

/*style the items (options), including the selected item:*/
.select-items div,
.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
}

/*style items (options):*/
.select-items {
  background-color: #419a9e;
  padding: 10px 10px;
  color: #fff;
  margin: 10px 0;
}

/*hide the items when the select box is closed:*/
.select-hide {
  display: none;
}

.select-items div:hover,
.same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

.change {
  padding: 10px 20px;
  color: #2f65d2;
  text-decoration: none;
  cursor: pointer;
}

.col-md-6 {
  width: 70%;
}

.select-ele {
  padding: 8px;
  margin-left: 20px;
}

.select-ele:hover {
  background-color: #4e989a;
  color: white;
}

.change:link,
.change:visited {
  background-color: white;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.change:hover,
.change:active {
  background-color: green;
  color: white;
}

.filter {
  padding: 10px 20px;
  text-decoration: none;
  background-color: #fff;
  border: none;
  cursor: pointer;
  color: #2f65d2;
}

.filter:link,
.filter:visited {
  background-color: white;
  color: black;
  border: 2px solid green;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.filter:hover,
.filter:active {
  background-color: green;
  color: white;
}

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 20%;
}

/* The Close Button */
.close {
  color: #000;
  background-color: white;
  font-size: 20px;
  margin-top: 5px;
  font-weight: bold;
  border: none;
}

.close:hover,
.close:focus {
  background-color: #da1515;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  width: 100%;
  height: 40px;
  border: none;
}

.modal-title {
  margin-bottom: 15px;
  font-weight: 600;
  color: #333; /* Customize the modal title color */
}

.modal-body {
  padding: 20px; /* Add padding to the modal body */
}

.form-control {
  margin-bottom: 10px; /* Add space between form inputs */
}

/* Modal footer */
.modal-footer {
  border-top: none; /* Remove the top border */
}

.modal-footer .btn {
  margin-right: 10px; /* Add space between buttons in the modal footer */
}

.info-container {
  display: flex;
  padding: 30px;
  margin: 0 8rem 2rem 8rem;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.user-order {
  padding: 30px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 50px;
}

.vl {
  border-left: 3px solid #41999e96;
  align-self: center;
  padding-right: 40px;
  height: 400px;
  margin-top: 60px;
}

.top-products-container {
  width: 40%;
  margin-right: 50px;
}

.new-products-container {
  width: 40%;
  margin-right: 50px;
}

.top-users-container {
  width: 20%;
  text-align: center;
}

.product-box-title {
  display: flex;
  justify-content: space-between;
}

.product-box-header {
  display: flex;
  justify-content: space-between;
}

.product-box-header p {
  background-color: #419a9e;
  color: rgb(255, 255, 255);
  padding: 5px;
  border-radius: 50%;
}

.product-box-title p {
  background-color: #4e989a;
  color: white;
  padding: 10px;
  margin-top: 10px;
}

.info-title {
  font-weight: 600;
}

.product-box {
  display: flex;
  padding-top: 20px;
  padding-right: 10px;
}

.product-box-name {
  font-weight: 600;
  padding: 0 40px;
}

.user-box {
  padding-top: 20px;
  font-weight: 600;
}

.product-box-img {
  width: 30%;
}

.product-box-info {
  text-align: center;
  width: 70%;
}

.product-box-info p {
  padding-top: 10px;
}

.product-box-img {
  width: 130px;
  height: 130px;
}

.user-contact {
  text-align: center;
}
