<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/lib/bootstrap-5.1.3-dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link
      rel="stylesheet"
      href="https://www.w3schools.com/lib/w3-theme-black.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/lib/bootstrap-5.1.3-dist/js/bootstrap.min.js"></script>
    <script
    src="https://kit.fontawesome.com/e609f8dd22.js"
    crossorigin="anonymous"
  ></script>
    <title>Shovice</title>
  </head>
  <body>
    <header>
      <div class="header-container" style="display: flex; padding: 0 150px">
        <div class="header-img">
          <a href="/"
            ><img src="/img/1.png" alt="" width="150px" height="80px"
          /></a>
        </div>
        <div class="header-search">
          <form action="">
            <input
              class="search-bar"
              type="text"
              placeholder="Search for products.."
              name="search"
            />
            <button class="search-btn" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </form>
        </div>
        <div class="header-items" style="display: flex">
          <a href="/user/cart" class="cart-btn"
            ><i class="fa-solid fa-cart-shopping"></i>
          </a>
          <a class="nav-link b" href="/">Home</a>
          <% if(user) { %>
          <a class="nav-link b" href="/api/auth/logout">Logout</a>
          <p style="margin: 15px 0 0 20px; color: red">
            Welcome <br /><strong style="color: black"
              ><%= user.username %></strong
            >
          </p>
          <% } else { %>
          <a class="nav-link b" href="/api/auth/login">Log in</a>
          <% } %>
        </div>
      </div>
    </header>

    <section>

      <div
        class="w3-container w3-padding welcome-container"
        style="background-color: #4e989a"
        id="myHeader"
      >
        <div class="w3-center" style="padding: 20px">
          <h1 class="w3-xxxlarge w3-animate-bottom" style="color: white">
            Welcome to Shovice
          </h1>
          <h4 style="padding-top: 15px; color: white">
            Ecommerce website that allows users to buy Electronic products
            online
          </h4>
          <div class="w3-padding-32">
            <% if(user && user.isAdmin) { %>
            <a href="/api/admin/product">
              <button
                type="button"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Add product +
              </button>
            </a>
            <% } else if (user && !user.isAdmin) { %>
            <a href="/user/cart">
              <button
                type="button"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Go to cart
              </button>
            </a>
            <% } else { %>
            <a href="/user/cart">
              <button
                type="button"
                onclick="alert('Login with our website to can buy!')"
                class="btn btn-outline-light"
                style="padding: 10px 40px"
              >
                Go to cart
              </button>
            </a>

            <% } %>
          </div>
        </div>
      </div>
        <div class="container">
          <div class="row">
            <div class="d">
              <h1>Top selling products</h1>
              <svg
                width="680"
                height="1"
                viewBox="0 0 680 1"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <line y1="0.5" x2="680" y2="0.5" stroke="black" />
              </svg>
            </div>
          </div>
        </div>
        <div class="e" style="display: flex; justify-content: center;">

          <% if (!user || !user.isAdmin) {%>
          <div style="margin: 0 30px">
          <label><strong>You can change the look of the site: </strong></label><br/>
          <select id="templete" name="templete" class="select-items" style="width:200px;">
            <option value="" selected>Select a look</option>
             <option value="first">1</option>
             <option value="secound">2</option>
             <option value="third">3</option>
           </select>
          <a id="change" class="change" ><strong>Change</strong></a>
        </div>
        <% } %>
  
          <form method="post" action="/" style="margin: 0 30px">
          <label><strong>You can filter the products by category: </strong></label><br/>
          <select id="category" name="category" class="select-items" style="width:200px;">
           <option value="" selected>Select a category</option>
            <option value="laptop">Laptop</option>
            <option value="phone">Phone</option>
            <option value="screen">Screen</option>
          </select>
         <button class="filter" type="submit"><strong>Filter</strong></button>
        </form>
  
        </div>
        <div class="container">
            <div class="row">
                <% if (templete === 'secound') { %>
                <%- include('templetes/_first', {products: products}) %>
                <% } else { %>
                <%- include('templetes/_secound', {products: products}) %>
                    <% } %>
              </div>
      </section>


    <footer>
      <div class="container-fluid cont_footer">
        <img
          src="img/1.png"
          alt=""
          width="137px"
          height="69px"
          class="img_footer"
        />
        <div class="row footer">
          <div class="col-2">
            <h6 class="footer1">
              <b>Company Info</b>
            </h6>
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">About Us</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Carrier</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >We are hiring</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Blog</a></small
              ></small
            >
          </div>
          <div class="col-2">
            <h6 class="footer1">
              <b>Legal</b>
            </h6>
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">About Us</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Carrier</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >We are hiring</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Blog</a></small
              ></small
            >
          </div>
          <div class="col-2">
            <h6 class="footer1">
              <b>Features</b>
            </h6>
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >Busines Marketing</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >User Analytic</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Live Chat</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >Unlimited Support</a
                ></small
              ></small
            >
          </div>
          <div class="col-2">
            <h6 class="footer1">
              <b>Resources</b>
            </h6>
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >IOS & Android</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#"
                  >Watch a Demo</a
                ></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">Customers</a></small
              ></small
            >
            <small
              ><small
                ><a class="nav-link text-black-50" href="#">API</a></small
              ></small
            >
          </div>
          <div class="col-4">
            <h6 class="footer_1">
              <b>Get In Touch</b>
            </h6>
            <small>
              <small>
                <img src="img/9.png" alt="" class="footer2" />
                <a class="nav-link text-black-50" href="#">(480) 555-0103</a>
              </small>
            </small>
            <small>
              <small>
                <img src="img/10.png" alt="" class="footer_2" />
                <a class="nav-link text-black-50" href="#"
                  >4517 Washington Ave. Manchester, <br />
                  Kentucky 39495
                </a>
              </small>
            </small>
            <small>
              <small>
                <img src="img/11.png" alt="" class="footer2" />
                <a class="nav-link text-black-50" href="#"
                  >debra.holt@example.com</a
                >
              </small>
            </small>
          </div>
        </div>
      </div>
      <div class="footer3">
        <b class="footer_3"> Made With Love By Figmaland All Right Reserved </b>
        <div class="footer4">
          <a href="#"><img src="img/12.png" alt="" class="footer_4" /></a>
          <a href="#"><img src="img/13.png" alt="" class="footer_4" /></a>
          <a href="#"><img src="img/14.png" alt="" class="footer_4" /></a>
        </div>
      </div>
    </footer>

    <script>
     const templete = document.getElementById('templete')
      const change = document.getElementById('change')
      templete.addEventListener('change', (event) => {
  const selectedValue = event.target.value;
  change.href = `/${selectedValue}`;
});
    </script>
  </body>
</html>
